# 跨服战是否开启
crossserverOpen = false

# 玩家开放等级限定
openLevel = 50

# 竞技场排行前X名
arenaRank = 100

# 每日免费
freeTimes = 10

# 初始分数值
scoreInit = 500

# 战斗数据记录条数
battleTotal = 20

# 同步时间间隔
synchroTime = 60000

# 赛季开始星期（注：星期日为1、以此类推）
startDay = 2

# 赛季结束星期（注：星期日为1、以此类推）
endDay = 7

# 每天结算开始时间点
startTime = 21

# 每天结算结束时间点
endTime = 23

# 排行榜显示条数
rankShows = 50

# 差值最高分
scoreMax = 20

# 高低积分差百分比
percentage = 0.05

# 战斗胜利后获得积分
winScore = 20

# 战斗失败后扣除积分
failedScore = 20

# 积分相差
scoreDifference = 200

# 购买挑战次数消耗
buyTimesCost = 20,30,50,80,100
